<!--
#   Copyright © 2021,2022 IsardVDI S.L.
#
#   This file is part of DD
#
#   DD is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   DD is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with DD. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div id="navbar-menu-apps">
    <div id="menu-apps-btn">
        <div id="dropdownMenuAppsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg id="menu-apps-icon" data-name="Menú Apps" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                <rect id="Rectángulo_2" data-name="Rectángulo 2" width="6" height="6" fill="#262626"/>
                <rect id="Rectángulo_1447" data-name="Rectángulo 1447" width="6" height="6" transform="translate(0 10)" fill="#262626"/>
                <rect id="Rectángulo_1450" data-name="Rectángulo 1450" width="6" height="6" transform="translate(0 20)" fill="#262626"/>
                <rect id="Rectángulo_1440" data-name="Rectángulo 1440" width="6" height="6" transform="translate(10)" fill="#262626"/>
                <rect id="Rectángulo_1446" data-name="Rectángulo 1446" width="6" height="6" transform="translate(10 10)" fill="#262626"/>
                <rect id="Rectángulo_1449" data-name="Rectángulo 1449" width="6" height="6" transform="translate(10 20)" fill="#262626"/>
                <rect id="Rectángulo_1441" data-name="Rectángulo 1441" width="6" height="6" transform="translate(20)" fill="#262626"/>
                <rect id="Rectángulo_1445" data-name="Rectángulo 1445" width="6" height="6" transform="translate(20 10)" fill="#262626"/>
                <rect id="Rectángulo_1448" data-name="Rectángulo 1448" width="6" height="6" transform="translate(20 20)" fill="#262626"/>
            </svg>
        </div>
        <div id="dropdownMenuApps" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <ul id="app-aapps">
                {% for item in data.apps_internal %}
                <li class="app {{ item.shorname }}">
                    <a href="{{ item.href }}" class="app-link" target="_blank">
                        <div class="icon {{ item.shorname }}">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="text">{{ item.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>

            <ul id="app-external" class="external-links">
                {% for item in data.apps_external %}
                <li class="app {{ item.shorname }}">
                    <a href="{{ item.href }}" class="app-link" target="_blank">
                        <div class="icon {{ item.shorname }}">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="text">{{ item.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>